@model string

<h1>FactographView</h1>
<div><a href="~/Home/Portrait/p44">~/Home/Portrait/p44</a></div>
<div><a href="~/Home/Portrait1/p44">~/Home/Portrait1/p44</a></div>
<div><a href="~/Home/Portrait2?id=p45">p45</a></div>
<div><a href="~/Home/Portrait3?id=p45">Portrait3 p46</a></div>
<div><a href="~/Home/Portrait3?id=o19302">Portrait3 p46</a></div>
