<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <style>
        table { border-collapse: collapse; }
        th {
            background:lightgray;
            font-weight: 200;
        }
        td {
            border: 1px solid #A9E2CC;
            border-collapse: collapse;
            font-weight: bold;
        }
        .cl {
            font-weight: 200;
            color:red;
        }
        .pr {
            font-weight: 200;
            color: green;
        }
        .lnk {
            font-weight: 200;
            
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
